fastapi
uvicorn[standard]
sqlalchemy
# psycopg2-binary
pydantic>=2.10.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
redis
celery
stripe
boto3
websockets
email-validator
